deepgram-sdk
langchain
langchain-community
langchain-core
langchain_groq
langgraph
fastapi
wolframalpha
google-generativeai
pymongo
uvicorn
google-api-python-client 
youtube_search 
wolframalpha 
wikipedia 
pillow
